{
    "extends": [
        "standard-with-typescript",
        "plugin:prettier/recommended"
    ],
    "plugins": [
        "@typescript-eslint",
        "prettier"
    ],
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "rules": {
        "semi": "off",
        "@typescript-eslint/semi": "off",
        "@typescript-eslint/strict-boolean-expressions": 0,
        "no-undef": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-non-null-assertion": "off"

    },
    "parser": "@typescript-eslint/parser"
}
